body .home {
    background-image: url('../../img/home/background-home-desktop.jpg');
    height: 100vh;
}

.main-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    padding: 2rem 6rem;
}

.title-main {
    text-transform: uppercase;
}

.title-main span{
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4.75px;
    font-size: 1.7rem;
}

.title-main h1 {
    font-family: 'Bellefair', serif;
    font-size: 150px;
    font-weight: lighter;
}

p {
    font-family: 'Barlow', sans-serif;
    width: 40%;
    line-height: 1.7rem;
}

.explore {
    background-color: #fff;
    color: #0B0D17;
    width: 300px;
    height: 200px;
    border-radius: 100%;
    border: none;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 5rem 4rem 0 0;
}
